SunriseCheckSeconds = 10
SunshineLogPath = "/home/alva/.config/sunshine/sunshine.log"
MonitorIsOffLogLine = "Error: Couldn't find monitor"
EncoderFailedLogLine = "Fatal: Unable to find display or encoder during startup."
EncoderFailedLogLine2 = "Error: Video failed to find working encoder"
WakeMonitorSleepSeconds = 10
StopSunshineCommand = "/usr/bin/killall sunshine"
StartSunshineCommand = "/usr/bin/sunshine"
WakeMonitorCommand = "/usr/bin/ydotool mousemove -- 1 1"
RestartOnEncoderFailure = true
